<!DOCTYPE html>
{% extends 'base.html' %}

{% block title %}Publicaciones{% endblock %}

{% block content %}
<h1>Publicaciones</h1>

    {% for item in pu %}
       <div class="card">
          <div class="card-header">
            {{item.nombre}}
          </div>
          <div class="card-body">
            <blockquote class="blockquote mb-0">
              <p>{{item.descripcion}}</p>
              <footer class="blockquote-footer">{{item.codigo}}</footer>
            </blockquote>
          </div>
        </div>
    {% endfor %}

<div class="row">
    <div class="col">
        <h2>Crear Publicacion</h2>
        <form method="post" action="/publicaciones/" class="form-group">
            {% csrf_token %}
            <div class="input-group mb-3">
                {{form.as_p}}
            </div>
            <button type="submit", name="save" class="btn btn-success">Crear</button>
        </form>
    </div>


</div>

{% endblock %}